/**
 * TODO find the proper way to use the .codrop-cornerbox
 **/

.content-wrap {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.content::before {
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #b8b7ad;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 320px;
	height: 320px;
	background: #fdfdf8;
	color: #373a47;
	padding: 2em;
	-webkit-transform: translate3d(-320px,-320px,0);
	transform: translate3d(-320px,-320px,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.profile {
	display: inline-block;
	line-height: 42px;
	margin-bottom: 1em;
	font-weight: 700;
}

.profile img {
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.icon-list a {
	display: block;
	color: #b8b7ad;
	font-weight: 700;
	padding: 0.8em 0.55em;
}

.icon-list a:hover,
.icon-list a:focus {
	color: #c94e50;
}

.icon-list a i {
	opacity: 0.5;
	color: #c94e50;
}

.icon-list a span {
	margin-left: 10px;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
	-webkit-transform: translate3d(80px,80px,0);
	transform: translate3d(80px,80px,0);
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
